body{
 background-image: url('https://s3-alpha-sig.figma.com/img/18c9/98f1/9f5712b97686209bd114fa7086413bd4?Expires=1710720000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=H6FIkr-dN2OTvcIwA0d5gFVJCB5UEr1lQsFp16mjUsHAc6R-Fw~3nPaqXSLTho57bjBPwamsbX8odRjkPOBywF~JgBYPo0cdEyUTpIrAb7OoQjGQpGUz2dqGjVVqf~1sB313LugeXgPRJBSP~Bs6rFn8nEqPX04996vRd~9jUtRvhZBOHxPQxAGDxHkSM0EdyBDjiV0e17hnUGhi-MPndflYqRvsHnOgkDjUgrfyUv4qHELZaBABQp5IlMUguJe2DXiqzJK-hYaEcKLp1Rz69V3nE4ecaCCNWQB-NkNtCZnH~oMFYH3KxgpHSkNp6CNki7bzOEniQeidhzU3Z2FB5A__'); 
 
}
.wrapper{
	Width :684px;
	Height :454px;
	Top : 170px;
	Left : 65px;
	Gap :24px;
}
.content{
	display: contents;

}
.judul{
	width: 684px;
	height: 212px;
	color: #ffff;
}
.title{
	padding-top: 200px;
	font-size: 85px;
}
.content-card{
  display: block;
  padding: 0;
  margin: 0; 
  
}
.card{
	display: inline-block;
	width: 412px;
	height: 232px;
	border-radius: 15px;
	margin-left: 20px;
	padding: 15px;
	background-color: #2c2b2b; 
}
h4{
	
}

*{
	margin: 0;
	padding: 0;
}